<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<link rel="stylesheet" href="js/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="js/jqwidgets/styles/jqx.summer.css" type="text/css" />
<script type="text/javascript" src="js/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="js/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="js/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="js/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript" src="js/jqwidgets/jqxlistbox.js"></script>	
<script type="text/javascript" src="js/jqwidgets/jqxdropdownlist.js"></script>	
<script type="text/javascript" src="js/jqwidgets/jqxwindow.js"></script>	
<script type="text/javascript" src="js/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="js/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript" src="js/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="js/jqwidgets/jqxpanel.js"></script>
<script type="text/javascript" src="js/jqwidgets/jqxgrid.js"></script>
<!--<script type="text/javascript" src="js/jqwidgets/jqxgrid.storage.js"></script>-->
<script type="text/javascript" src="js/jqwidgets/jqxgrid.selection.js"></script>	
<script type="text/javascript" src="js/jqwidgets/jqxcalendar.js"></script>	
<script type="text/javascript" src="js/jqwidgets/jqxdatetimeinput.js"></script>	
<script type="text/javascript" src="js/jqwidgets/jqxgrid.sort.js"></script>		
<script type="text/javascript" src="js/jqwidgets/jqxgrid.filter.js"></script>	
<script type="text/javascript" src="js/jqwidgets/jqxdata.js"></script>	
<script type="text/javascript" src="js/jqwidgets/jqxgrid.pager.js"></script>
<script type="text/javascript" src="js/jqwidgets/jqxgrid.columnsresize.js"></script>		
<script type="text/javascript" src="js/jqwidgets/jqxgrid.columnsreorder.js"></script>
<script type="text/javascript" src="js/jqwidgets/jqxinput.js"></script>
<script type="text/javascript" src="js/jqwidgets/jqxvalidator.js"></script> 
<script type="text/javascript" src="js/jqwidgets/jqxcombobox.js"></script>   

<script type="text/javascript" src="js/jqwidgets/jqxdatatable.js"></script>
<script type="text/javascript" src="js/jqwidgets/globalization/globalize.js"></script>
<script type="text/javascript" src="js/jqwidgets/globalization/cultures/globalize.culture.pt-BR.js"></script>
<script type="text/javascript" src="js/localization.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<!--<meta http-equiv="refresh" content="15" />-->
<title>FuteNow</title>

<script>
	$(function(){
		
		$('a, button, submit').jqxButton();
		
	});
</script>

<style>
body {
	font-family: Arial;
}

.jqxwindowContent table{
	font-size:9pt;

}
</style>

</head>
<body>
	<br /><br />
	<a href='evento.php'>Cadastrar evento</a>
	
	<div id="table"></div>
	
	<div id="jqxwindow">
		<div class="jqxwindowTitle">  
		</div>
		<div class="jqxwindowContent">
		</div>
	</div>
	
</body>
</html>